.moviedetail-container {
    .movie-title {
        color: #fa0;
        margin-bottom: 30px;
    }

    .header-text {
        color: #fa0;
    }
    
    nb-card {
        img {
            height: 500px;
            margin-left: 5%;
        }

    }
    
    .movie-detail {
        margin: 20px 0px 20px 0px;
        font-size: 32px;
        
        p {
            display: inline;
            font-size: 32px;
        }
    }

    .cast-list {
        padding: 0px;
        list-style: none;
    }
}