<div class="moviedetail-container">
    <h2 class="movie-title text-center">{{ movie.title }}</h2>
    <div class="row">
        <div class="col-sm-12 col-md-5 col-lg-5">
            <nb-card 
                [nbSpinner]="isImageLoading" 
                nbSpinnerSize="giant" 
                nbSpinnerStatus="warning">
                <nb-card-body>
                    <img 
                        [src]="movie.large_cover_image" 
                        [alt]="movie.background_image"
                        (load)="isImageLoading=false">
                </nb-card-body>
              </nb-card>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-sm-12 col-md-4 movie-rating">
                    <div class="movie-detail">
                        <p class="header-text">Rating:</p> <span>{{ movie.rating }}</span>
                    </div>
                </div>
                <div class="col-md-4 movie-year">
                    <div class="movie-detail">
                        <p class="header-text">Year:</p> <span>{{ movie.year }}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h2 class="header-text">Plot</h2>
                    <p class="text-left">{{ movie.description_full }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="header-text">Cast</h2> 
                    <ul class="cast-list">
                        <li *ngFor="let cast of movie.cast">
                            <a  href="">{{ cast.name }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-4 movie-genres">
                    <div class="movie-genres">
                        <div *ngFor="let genre of genres">
                            <nb-icon [icon]="genre.icon" pack="font-awesome"></nb-icon>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>