
.headlines-container {
    height: 100%;

    .container-title {
        border-bottom: 2px solid #fa0;
        width: fit-content;
    }
    
    .news-form {

        form {
            .filter-Button {
                margin-left: 10px;
            }
        }
    }

    .headline-list {
        ul {
            padding: 0px;
            li {
                list-style-type: none;
            }
        }
    }

}
