<div class="headlines-container">
    <div class="news-form">
        <nb-card>
            <nb-card-body>
                <form action="">
                    <div class="row">
                        <div class="col-md-6 offset-md-4">
                            <input type="text" class="align-middle" nbInput status="warning" placeholder="Search News">
                            <nb-icon icon="search-outline" status="warning"></nb-icon>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="card-list row">
        <div class="col-md-12">
            <nb-list  nbInfiniteList
                    listenWindowScroll
                    [threshold]="500"
                    (bottomThreshold)="loadNext()">
                <nb-list-item *ngFor="let info of news">
                    <nb-card>
                        <nb-card-body>
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="{{info.urlToImage}}" class="img-fluid" alt="">
                                </div>
                                <div class="col-md-6">
                                    <p class="article-date">{{ info.publishedAt | date:'shortDate'}}</p>
                                    <h4>{{ info.title }}</h4>
                                    <p>{{ info.description }} ({{ info.source.name }})</p>
                                </div>
                            </div>
                        </nb-card-body>
                        <nb-card-footer>
                            <a (click)="goNewsLink(info.url)" href="#" nbButton hero status="warning">See</a>
                        </nb-card-footer>
                    </nb-card>
                </nb-list-item>
            </nb-list>
        </div>

    </div>
</div>