<div class="headlines-container">
    <div class="news-form">
        <nb-card>
            <nb-card-body>
                <form #filterForm="ngForm">
                    <div class="row">
                        <div class="col-md-6 offset-md-4">
                            <input type="text" 
                            class="align-middle" 
                            nbInput 
                            status="warning" 
                            name="filterText"
                            [(ngModel)]="filterText"
                            (input)="onFilterChange()" 
                            placeholder="Search News"
                            required>
                            <button (click)="filterNews()" 
                            class="filter-Button"
                            nbButton 
                            status="warning" 
                            [disabled]="!filterForm.form.valid">
                                <nb-icon icon="search-outline"></nb-icon>
                            </button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
    <div *ngIf="isFiltered" class="headline-list ">
        <div class="">
            <h2 class="container-title">Top Headlines</h2>
            <ul class="row">
                <li class="col-md-4" *ngFor="let headline of headLines">
                    <app-headlinepost [headLinePost]="headline"></app-headlinepost>
                </li>
            </ul>
        </div>
    </div>
    <div class="card-list row">
        <div class="col-md-12">
            <h2 class="container-title">News</h2>
            <nb-list nbInfiniteList listenWindowScroll [threshold]="500" (bottomThreshold)="loadNext()">
                <nb-list-item *ngFor="let info of news">
                    <app-newspost [post]="info"></app-newspost>
                </nb-list-item>
            </nb-list>
        </div>

    </div>
</div>